* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.main {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.container {
  width: 50%;
  height: 50%;
  position: relative;
  margin-block: 5vmin;
}

.mode {
  background-color: #000;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.hour {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 3px;
  background-color: #000;
  width: 100px;
  border-radius: 10px;
  transform: rotate(20deg);
  transform-origin: left;
}

.minute {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 3px;
  background-color: #000;
  width: 130px;
  border-radius: 10px;
  transform: rotate(30deg);
  transform-origin: left;
}

.second {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 2px;
  background-color: #f00;
  width: 130px;
  border-radius: 10px;
  transform: rotate(40deg);
  transform-origin: left;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 10px;
  background-color: #f00;
  transform: translate(-50%, -50%);
  width: 10px;
  border-radius: 10px;
}

.digital {
  font-size: 15vmin;
  font-weight: 600;
}

.dateContainer {
  display: flex;
  flex-direction: row;
}

.date {
  font-size: 4vmin;
  font-weight: 600;
  color: #555;
  text-transform: uppercase;
}

.day {
  height: 6vmin;
  width: 6vmin;
  line-height: 6vmin;
  background-color: #000;
  font-weight: 600;
  color: white;
  text-align: center;
  border-radius: 100px;
  margin: auto;
  margin-left: 6vmin;
}

.digital.active {
  color: #fff;
}

.mode.active,
.day.active,
.hour.active,
.minute.active {
  background-color: #fff;
  color: #000;
}

.main.active {
  background-color: #000;
}
